<%= link_to "Trades", trades_path %>
<div>
<h2> Portfolio </h2>
<% @stocks.each do |ticker,quantity| %>
<ul>
  <li>   <%= ticker %>  -  <%= quantity %> Shares </li> 
</ul>
<% end %>

</div>

<div>
    <h2>Cash - <%= number_to_currency(@balance, :unit => "$") %>  </h2>

    <%= form_for @trade do |f| %>
        
        <%= fields_for :stock, @trade.stock do |ff| %>
            <%= ff.label :ticker_symbol %>
            <%= ff.text_field :ticker_symbol, placeholder: "Ticker", required: true %><br>
        <%end%>
        
        <%= f.label :quantity %>
        <%= f.text_field :quantity, placeholder: "Quantity", required: true %><br>
        <%= f.submit "Purchase" %>
    <% end %>
<div>

